.MMM-RandomBibleVerse {
    max-width: 100vh;
    height: auto;
    max-height: auto;
    line-height: 1em;
}

.MMM-RandomBibleVerse .xsmall,
.MMM-RandomBibleVerse .default {
    max-width: 50vh;
}

.MMM-RandomBibleVerse .small {
    max-width: 60vh;
}

.MMM-RandomBibleVerse .medium {
    max-width: 75vh;
}

.MMM-RandomBibleVerse .large {
    max-width: 100vh;
}
